<!-- Footer -->
<footer class="text-center text-lg-start text-white mt-5" id="footer">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Nos siga e avalie nas nossas redes sociais: <i class="fas fa-heart"></i> </span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/sirenabuzios" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.google.com/search?q=sirena+buzios&oq=sirena+buzios&aqs=chrome..69i57j46i175i199i512j0i22i30l3j69i60l3.2051j0j7&sourceid=chrome&ie=UTF-8" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="https://www.instagram.com/sirenabuzios/" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.tripadvisor.com.br/Restaurant_Review-g303492-d19917882-Reviews-Sirena_Buzios_Gastrobar-Armacao_dos_Buzios_State_of_Rio_de_Janeiro.html" class="me-4 text-reset">
        <i class="fa fa-tripadvisor"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            sirena búzios gastrobar
          </h6>
          <p>
          Associação dos Pescadores - Av. José Bento Ribeiro Dantas, 85, Manguinhos.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contato
          </h6>
          <p><i class="fas fa-home me-3"></i> Armação do Búzios, RJ, Brasil</p>
          <p>
            <a href="https://api.whatsapp.com/send?1=pt_BR&phone=552233016288" class="me-4 text-reset">
            <i class="fa fa-whatsapp me-3"></i>
            +55 (22) 3301-6288
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center pt-4" style="background-color: rgba(0, 0, 0, 0.05);">
    <div class="avatar-perfil d-flex justify-content-center align-items-center" style="position: relative">
       <p>© Sirenabuzios.com was made by: <a href="https://github.com/PBuenolima" target=”_blank”>
       <img src="https://avatars.githubusercontent.com/u/101818151?s=40&v=4"></a>
       <a href="https://github.com/nickolasfarias" target=”_blank”>
       <img src="https://avatars.githubusercontent.com/u/85416366?v=4"></a>
    </div>
  </div>


  <!-- Copyright -->
</footer>
<!-- Footer -->
