<div class="navbar navbar-sirena d-flex align-itens-center justify-content-center">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="topnav" id="myTopnav">
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#quemsomos">QUEM SOMOS</a>
    <a href="#sunset">SUNSET</a>
    <a href="#eventos">EVENTOS</a>
    <%= link_to "CARDAPIO", cardapios_path %>
    <a href="https://api.whatsapp.com/send?1=pt_BR&phone=552233016288" target="_blank">FALE CONOSCO</a>
    <a href="https://www.google.com/maps/place/Sirena+B%C3%BAzios+Gastrobar,+Associa%C3%A7%C3%A3o+dos+Pescadores+-+Av.+Jos%C3%A9+Bento+Ribeiro+Dantas,+85+-+box+7,+B%C3%BAzios+-+RJ,+28950-000/@-22.7696835,-41.9119599,15z/data=!4m2!3m1!1s0x9701b3a2e4add5:0x60f20f24c43c0e4f" target="_blank">ONDE ESTAMOS</a>
    <a href="https://cutt.ly/gKDI3OH" target="_blank">VENHA COM WAZE</a>
  </div>
</div>
