<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2 )), url('<%= image_path "bannerdia.jpg" %>');">
    <%= render 'shared/navbar' %>
    <div class="container banner-logo">
    </div>
</div>

<div class="container">
  <div class="d-flex align-itens-center justify-content-center my-3" id="quemsomos">
    <h1> Quem somos</h1>
  </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae excepturi molestiae, aspernatur esse voluptatibus perspiciatis, nisi veritatis error in dolor id debitis ducimus similique sequi doloremque sit ipsa velit! Necessitatibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit alias mollitia repellat inventore porro recusandae illo est non eligendi quibusdam facere praesentium neque excepturi hic quisquam ullam corrupti, deserunt enim. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit quae eos fugiat eveniet doloribus accusamus, deleniti iste sapiente temporibus fugit, natus rerum soluta molestias autem tempora delectus sequi expedita. Totam.</p>
</div>

<div class="container">
  <div class="d-flex align-itens-center justify-content-center my-3" id="sunset">
    <h1> Sun Set</h1>
  </div>
  <iframe width="100%" height= auto src="https://www.youtube.com/embed/eiYlhE-CQxg" title="Sirena Buzios Sunset" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
