<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2 )), url('<%= image_path "bannerdia.jpg" %>');">
    <%= render 'shared/navbar' %>
    <div class="container banner-logo">
      <%= image_path "sirenalogobranco.png"%>
    </div>
</div>

<div class="container">
  <div class="d-flex align-itens-center justify-content-center my-3" id="quemsomos">
    <h1>Quem somos</h1>
  </div>
    <p>O Sirena Búzios é um Gastrobar na beira da praia de Manguinhos, em frente ao pôr do sol mais lindo da cidade! Totalmente inspirados na natureza que nos cerca, nossa proposta é oferecer excelente música e gastronomia em um ambiente informal, onde amigos e famílias podem desfrutar de uma experiência incrível e com o pé na areia.</p>
</div>

<div class="container">
  <div class="d-flex align-itens-center justify-content-center my-3" id="sunset">
    <h1> Sunset</h1>
  </div>
  <div class="video-wrapper">
      <iframe src="https://www.youtube.com/embed/eiYlhE-CQxg" title="Sirena Buzios Sunset" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
