.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 120vh;
  position: relative
}

.banner-logo {
  position: absolute
}

.banner-dj {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 50vh;
  position:relative;
}

.banner-eventos {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 83vh;
  position:relative;
}
